* { box-sizing: border-box }
h1,h2,h3,h4 { font-weight: bold }

.z1 { position: relative; z-index: 1 }
.left-bar { width: 23%; border-right: 1px solid #EFF3F4 }
.middle-bar { width: 46%; border-right: 1px solid #EFF3F4 }
.right-bar { width: 31%; padding-left: 20px }

.tw-logo {
  width: fit-content;
  padding: 15px;
  border-radius: 50%;
  margin-left: 35px;
}

.tw-logo:hover { background-color: rgb(24, 158, 242, .15) }
.nav-list a { color: black; text-decoration: none }
.nav-list svg { width: 25px; margin: -5px 5px 0 0 }
.nav-list { margin-top: 15px; list-style: none }

.nav-list li {
  width: fit-content;
  padding: 10px 30px 10px 10px;
  margin-top: 10px;
  font-size: 16pt;
}

.nav-list li:hover {
  background-color: #e7eaeb;
  border-radius: 75px;
}

.tw-blue-btn-lg, .tw-blue-btn-sm {
  width: 75%;
  padding: 12px;
  background-color: #169cf1;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  font-size: 13pt;
}

.tw-blue-btn-sm {
  width: fit-content;
  padding: 7px 12px;
  font-size: 11pt;
}

.content-box, .tweet-box {
  display: flex;
  border-top: 1px solid #EFF3F4;
  padding: 10px 15px 10px 15px;
}

.content-box { cursor: pointer }
.content-box:hover { background-color: #F8F8F8 }

.content-box a, .tweet-box a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.content-box a:hover, .tweet-box a:hover {
  text-decoration: underline;
}

.profile-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: fit-content;
  padding-right: 15px;
}

.profile-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.content-right { width: 100% }
.content-right textarea {
  width: 100%;
  height: 50px;
  resize: none;
  overflow: hidden;
  outline: none;
  border: none;
  font-size: 16pt;
}

.blue-link a {
  color: #169cf1;
  font-weight: normal;
}

.tweet-icons { display: flex }
.tweet-icons .blue-icon, 
.tweet-icons .pink-icon { padding: 5px 8px; border-radius: 50%; margin-top: 5px; }
.tweet-icons .blue-icon:hover {
  background-color: rgb(24, 158, 242, .15);
  filter: invert(61%) sepia(95%) saturate(4496%) hue-rotate(182deg) brightness(103%) contrast(90%);
}

.tweet-icons svg { width: 15px; height: 15px; margin-top: -3px;}
.tweet-icons { font-size: 10pt }

.tweet-icons .pink-icon:hover {
  background-color: rgb(249, 25, 128, .15);
  filter: invert(48%) sepia(99%) saturate(7387%) hue-rotate(321deg) brightness(99%) contrast(96%);
}

.search-bar {
  width: 90%;
  display: flex;
  background-color: #EFF3F4;
  border-radius: 50px;
  padding: 10px;
  margin: 15px 0;
}

.search-icon { padding: 0 15px 0 5px }
.search-icon svg { width: 20px }
.search-input input {
  color: #536371;
  outline: none;
  border: none;
  background-color: transparent;
}

.tw-footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #169cf1;
  padding: 10px;
  color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.login-btn, .signup-btn {
  padding: 5px 15px;
  outline: none;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  transition: background-color 0.3s ease-in-out;
}

.login-btn { 
  background-color: #169cf1;
  border: 1px solid #8FC6F6;
}
.signup-btn {
  color: #000;
  border: none;
  background-color: #fff;
}

.login-btn:hover { background-color: #42A7F1 }
.signup-btn:hover { background-color: #D7DBDC }