.tw-logo {
  width: fit-content;
  padding: 15px;
  border-radius: 50%;
  margin-left: 35px;
}

.tw-logo:hover { background-color: rgb(24, 158, 242, .15) }
.nav-list a, .nav-list a:hover {
  color: black;
  text-decoration: none;
  outline: none;
  border: none;
}
.nav-list svg, .nav-list img { width: 25px; margin: -5px 10px 0 0 }
.nav-list { margin-top: 15px; list-style: none }

.nav-list li {
  width: fit-content;
  padding: 10px 30px 10px 10px;
  margin-top: 10px;
  font-size: 16pt;
}

.nav-list li:hover {
  background-color: #e7eaeb;
  border-radius: 75px;
}

.nav-list-active { font-weight: bold }

.tw-blue-btn-lg, .tw-blue-btn-sm {
  width: 75%;
  padding: 12px;
  background-color: #169cf1;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  font-size: 13pt;
}

.tw-blue-btn-sm {
  width: fit-content;
  padding: 7px 12px;
  font-size: 11pt;
}

@media (prefers-color-scheme: dark) {
  .nav-list a, .nav-list a:hover { color: #E7E9EA }
  .nav-list li:hover { background-color: #161616 }
  .nav-list svg, .nav-list img {
    filter: invert(100%) sepia(0%) saturate(3601%) hue-rotate(251deg) brightness(116%) contrast(100%)
  }
}