.profile-banner {
  width: 100%;
  height: 266px;
  margin-top: 50px;
  position: relative;
}

.profile-banner-top {
  width: 100%;
  height: 199.25px;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-avatar {
  position: absolute;
  bottom: 0;
  left: 20px;
  border-radius: 50%;
  border: 4px solid #fff;
  cursor: pointer;
  background-color: #fff;
}

.profile-avatar:hover + .overlay {
  width: 133.5px;
  height: 133.5px;
  position: absolute;
  bottom: 4px;
  left: 24px;
  background-color: #000;
  border-radius: 50%;
  opacity: 10%;
  -webkit-backface-visibility: hidden;
}

.profile-avatar img { border-radius: 50% }

.profile-bottom {
  width: 100%;
  height: 66.75px;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.profile-bottom svg {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 20px;
}

.prof-button {
  width: 25px;
  height: 25px;
  border: 1px solid #E4E9EB;
  border-radius: 50%;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.prof-button:hover { background-color: #EAEAEA }

@media (prefers-color-scheme: dark) {
  .profile-avatar {
    border: 4px solid #000;
    background-color: #000;
  }

  .profile-bottom svg { 
    filter: invert(97%) sepia(100%) saturate(2%) hue-rotate(266deg) brightness(112%) contrast(100%);
  }
  .prof-button { border: 1px solid #2B3135 }
  .prof-button:hover { background-color: #151515 } 
}