.modal-content {
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 15px
}

.modal-dialog {
  max-width: 600px !important;
  margin-top: 15vh;
}
.modal-header, .modal-footer { border: none }
.modal-header { padding: 40px 0 0 40px }
.modal-footer { justify-content: center }

.modal-header button {
   position: absolute;
   top: 15px;
   right: 15px;
}

.modal-footer button {
  width: 75%;
  outline: none;
  padding: 15px;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  border: none;
  font-weight: bold;
}

.signup-form {
  width: 100%;
  padding-left: 4em;
  padding-right: 4em;
}

.input-cont {
  width: 100%;
  border: 1px solid #CFD9DE;
  border-radius: 5px;
  padding: 5px;
  color: #1C9BF0;
  font-size: 10pt;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-flow: column-reverse;
}

.input-cont input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: #000;
  font-size: 14pt;
}

label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

.input-cont input:placeholder-shown + label {
  transform: translate(0, 100%) scale(1.5);
  transform-origin: left bottom;
  max-width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;
  color: #849099;
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.input-cont input:not(:placeholder-shown) + label,
.input-cont input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  color: #1C9BF0;
}

.input-cont:focus-within {
  border: 2px solid #1C9BF0;
}

.input-cont input:autofill,
.input-cont input:-webkit-autofill { 
  -webkit-box-shadow: 0 0 0 30px white inset !important
}

.header-error {
  color: #ff5656;
  font-weight: bold;
}

.header-success {
  color: #00BA7C;
  font-weight: bold;
}

.input-error { border: 2px solid #ff5656; color: #ff5656 }

@media (prefers-color-scheme: dark) {
  .modal-content { background-color: #000; color: #fff }
  .modal-footer button:hover { background-color: #161616 }
  .modal-backdrop { background-color: rgba(72, 140, 185, 0.4) }
  
  .modal-footer button {
    border: 1px solid #536371;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-close {
    filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(98deg) brightness(119%) contrast(100%);
  }

  .input-cont { border: 1px solid #333639 }
  .input-cont input { color: white }
}